.main {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.sqr {
	border: 1px solid black;
	height: 50px;
	width: 50px;
}

.board {
	display: flex;
}

.ship {
	background: grey;
}

.game {
	display: grid;
	grid-template-columns: 40% 40%;
	justify-content: space-between;
}

.hitShip {
	background: orange;
}

.destroyedShip {
	background: red;
}

.hit {
	background: yellow;
}